<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>About Dan Marino</title>
    <link rel="stylesheet" href="/styles/stylesheet.css" />
  </head>
  <body>
    <header>
        <h1>About Dan Marino</h1>
    </header>
    

    <h3>The legendary Dan Marino - American Football quarterback</h3>
    <div class="info">
        <p>Daniel Constantine Marino Jr played for the Miami Dolphins his entire career and is probably their best known player.</p>
        <p>After graduating from Pittsburgh University, he was drafted into the National Football League (NFL) in 1983. Throughout a 17 year career he 
            would go on to set several NFL records, with a career 8,358 pass attempts, 420 touchdowns and more than 61,000 yards.</p>
        <p>Outside of football, he also cameod in a blockbuster movie along with Jim Carey: Ace Venture, Pet Detective</p>
        <p>Marino retired in 2000. Although he is well known as one of the greatest quarterbacks ever to have played the game, the NFL's biggest goal, the Superbowl, sadly eluded him and the Dolphins.</p>
    </div>
    <br>
    <h3>Where would you like to go next?</h3>
    <div class="links">
        <ul>
            <li><a href="/home">Back to the homepage</a></li>
            <li><a href="/works">See Dan's Works</a></li>
            <li><a href="/gallery">Explore the Gallery</a></li>
        </ul>
    </div>
  </body>
</html>