<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Dan Marino Gallery</title>
    <link rel="stylesheet" href="/styles/stylesheet.css" />
  </head>
  <body>
    <header>
        <h1>Dan Marino Gallery</h1>
    </header>
    

    <h3>Explore some picture of the legend himself being generally awesome:</h3>
    <div class="gallery">
        <a target="_blank" href="#">
            <img src="/images/DanMarino1.jpg" alt="Dan Marino being awesome 1" width="600" height="400">
          </a>
    </div>
    <div class="gallery">
        <a target="_blank" href="#">
            <img src="/images/DanMarino2.jpg" alt="Dan Marino being awesome 2" width="600" height="400">
          </a>
    </div>
    <div class="gallery">
        <a target="_blank" href="#">
            <img src="/images/DanMarino3.jpg" alt="Dan Marino being awesome 3" width="600" height="400">
          </a>
    </div>
    <div class="gallery">
        <a target="_blank" href="#">
            <img src="/images/DanMarino4.jpg" alt="Dan Marino being awesome 4" width="600" height="400">
          </a>
    </div>
    <div class="gallery">
        <a target="_blank" href="#">
            <img src="/images/DanMarino5.jpg" alt="Dan Marino being awesome 5" width="600" height="400">
          </a>
    </div>
   <div id="gallery-links">
        <h3>Where would you like to go next?</h3>
        <div class="links">
            <ul>
                <li><a href="/home">Back to the homepage</a></li>
                <li><a href="/about">About Dan</a></li>
                <li><a href="/works">Dan's Works</a></li>
            </ul>
        </div>
    </div>
    <!-- <a href="/gallery">See Cat Page</a> -->
  </body>
</html>