<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Dan Marino Info</title>
    <link rel="stylesheet" href="/styles/stylesheet.css" />
  </head>
  <body>
    <header>
        <h1>Welcome to the Dan Marino fansite!</h1>
    </header>
    <h2>Welcome to this information page about Dan Marino</h2>
    <h3>Explore the links below to find out more about the celebrated quarterback:</h3>
    <div class="links">
        <ul>
            <li><a href="/about">About Dan</a></li>
            <li><a href="/works">Dan's Works</a></li>
            <li><a href="/gallery">Explore the Gallery</a></li>
        </ul>
    </div>
    <!-- <a href="/gallery">See Cat Page</a> -->
  </body>
</html>
